
.card{
    border-radius: $border-radius-primary;
    padding-top: $padding-pr;
    padding-right: $padding-lg;
    padding-bottom: $padding-lg;
    padding-left: $padding-lg;
    box-shadow: 12px 23px 41px -1px rgba(0,0,0.5,0.07);
    -webkit-box-shadow: 12px 23px 41px -1px rgba(0,0,0.5,0.07);
    -moz-box-shadow: 12px 23px 41px -1px rgba(0,0,0.5,0.07);
   

    h1{
        font-size: $font-size-xl;
        margin-bottom:$margin-pr;
        color: $white;
    }

    p{
        font-size: $font-size-md;
        line-height: 1.35;
        color: $clr-quote-text;
    }

    &.card--one{
        background-color: $clr-violet;
        background-image: url(../images/bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 92% top;
        background-size: 100px;
        color: $clr-dark-blue;
        grid-area: one;

        @include desktop{
            background-position: 82% top;

            //grid
            //grid-column: span 2;
        }
    }

    &.card--two{
        background-color: $clr-grey-blue;
        grid-area: two;

        .profile-img{
            border: none;
        }

    }

    &.card--three{
        background-color: $white;
        grid-area: three;

        .profile-img{
            border: none;
        }

        h1{
            color: $clr-dark-blue;
        }

        p{
            color: $clr-dark;
        }
    }

    &.card--four{
        background-color: $clr-dark-blue;
        grid-area: four;

        @include desktop{

            //grid
            //grid-column: span 2;
        }
    }

    &.card--five{
        background-color: $white;
        grid-area: five;

        @include desktop{

        //grid
        //grid-column: 4 / 5;
        //grid-row: 1 / 3;
        }

        .profile-img{
            border: none;
        }

        h1{
            color: $clr-dark-blue;
        }

        p{
            color: $clr-dark;
            line-height: 1.5;
        }
    }
}

