*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit";
}

body{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

main {
    padding: 16px;
    box-sizing: 0px 1px 2px 2px grey;
}


.contents{
    width: 322px;
    height: 488px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: grid;
    place-items: center;

}

.contents img {
    width: 288px;
    height: 292px;
    border-radius: 15px;
}

.contents h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    text-align: center;
    max-width: 246px;
    padding-top: 5px;
}

.contents p {
    color: hsl(220, 15%, 55%);
    font-size: 1rem;
    text-align: center;
    max-width: 246px;
    padding-bottom: 25px;
}

