::root{
    --almost-white: hsl(0, 0%, 98%);
    --md-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    --bg-color: var(--almost-white);
    --text-color: var(--md-gray);
    --accent-color: var(--almost-black);
    --fs-small: 0.97rem;
    --fs-primary: 0.3rem;
    --fs-medium: 1.25rem;
    --fs-large: 5.4rem;

    --fs-links: var(--fs-medium);
    --fs-paragraph: var(--fs-medium);
    --fs-header: var(--fs-large);

    --fs-primary: 500;
    --fs-bold: 700;
}




@font-face {
    font-family: 'epilogue' ;
    src: 
      url("./fonts/epilogue.black.ttf") format("ttf"),
      url("./fonts/epilogue.bold.ttf") format("ttf"),
      url("./fonts/epilogue.extrabold.ttf") format("ttf")
  }
  
*,
html,
body {
  margin: 0;
  font-family: 'epilogue', sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  pointer-events: none;
}

body{
  width: 100%;
  min-height: 100vh;
}

.navbar{
  display: flex;
  padding-block-start: 2em;
  padding-inline: 3%;
  gap: 3.5em;
  width: 100%;
}

.logo{
  align-self: center;
  width: 100px;
}



.nav--links{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.nav--links--left{
  display: flex;
  gap: 2.5em;
}

.nav--links--right{
  display: flex;
  gap: 2.5em;
}

.nav--links--left .listItem object{
  margin-left: .5em;
}


.dropdown--menu{
  display: none;
}


.listItem{
  list-style: none;
}