//resets

*,
html,
body,
h1,
h2,
h3,
button{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



//buttons
.btn,
.article.btn{
    font-size: $fs-pr;
    padding: 0.8em 2.43em;
    background-color: $pink;
    color: white;
    border: 0;
    border-radius: 25px;
    transition: all 0.05s;
    display: inline-flex;
    transition: all 0.5s;
    

    &:hover,
    &:focus{
        background-color: $clr-light-pink;
    }

    @include desktop {
        padding: 1.2em 5em;
        max-width: 25em;
        border-radius: 50px;
        font-size: $fs-md;
    }

    @include tablet{
        padding: 1.4em 3em;
        font-size: $fs-pr;
    }
}

.outlined--btn{
    font-size: $fs-sm;
    padding: .15em 0.5em;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid $pink;
    color: $pink;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -3px 3px 12px -5px rgba(128,128,128,0.27);
    -webkit-box-shadow: -3px 3px 12px -5px rgba(128,128,128,0.27);
    -moz-box-shadow: -3px 3px 12px -5px rgba(128,128,128,0.27);
    transition: all 0.5s;

    &:hover,
    &:focus{
        border-color: $clr-light-pink;
        color: $clr-light-pink;
    }

    @include desktop{
        padding: .6em 2.7em;
        max-width: 11.5em;
    }
}

.cta__button {
    padding: 1.2em 4em;
    border-radius: 5px;
    background-color: $pink;
    color: white;
    outline: none;
    border: none;
    transition: all 0.05s;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: $clr-light-pink;
    }
}


//cta

div .cta__input{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0px 15px;
    background-color: white;
    max-width: 19rem;
    height: 50px;
    cursor: pointer;
    border: 1px solid white;

    &:hover,
    &:active,
    &:focus{
        border-color:$clr-light-red;
    }

    @include desktop{
        width: 19rem;
    }
}