
//colors
$pink: hsl(322, 100%, 66%);
$clr-light-pink: hsl(321, 100%, 78%);
$clr-light-red: hsl(0, 100%, 63%);
$clr-title: hsl(192, 100%, 9%);
$clr-text: hsl(207, 100%, 98%);
$icons-hover: rgb(111, 182, 240);

//fonts

$heading-font: 'Poppins';
$primary-font: 'Open Sans';


$fs-sm: .8125rem;
$fs-pr: 0.85rem;
$fs-md: 1.25rem;
$fs-lg: 1.5rem;
$fs-xl: 1.875rem;
$fs-xxl: 3.5rem;
$fs-base: 6rem;



$font-weights:(
    "regular": 400,
    "bold": 600,
    "large": 700
);


@function weights($weight-name){
    @return map-get($font-weights, $weight-name);
} 



//paddings
$padding-sm: 1em;
$padding-pr: 1.5em;
$padding-md: 2.65em;
$padding-lg: 4em;
$padding-xl: 4.6em;
$padding-100: 6.25em;
$padding-xxl: 7.1875em;
$padding-base: 12.25em;



//margins
$margin-sm: 1em;
$margin-pr: 1.855em;
$margin-md: 2.5em;
$margin-lg: 2.8125em;
$margin-xl: 5em;
$margin-xxl: 8em;
$margin-base: 15em;


//Breakpoint Variables
$tablet : 35em;
$desktop: 51em;

//images
$bg-section-top-mobile-1: url("../../images/bg-section-top-mobile-1.svg");
$bg-section-top-mobile-2: url("../../images/bg-section-top-mobile-2.svg");
$bg-section-bottom-mobile-1: url("../../images/bg-section-bottom-mobile-2.svg");
$bg-section-bottom-mobile-2: url("../../images/bg-section-bottom-mobile-2.svg");
$bg-footer-mobile: url("../../images/bg-footer-top-mobile.svg");


$bg-section-top-desktop-1: url("../../images/bg-section-top-desktop-1.svg");
$bg-section-top-desktop-2: url("../../images/bg-section-top-desktop-2.svg");
$bg-section-bottom-desktop-1: url("../../images/bg-section-bottom-desktop-2.svg");
$bg-section-bottom-desktop-2: url("../../images/bg-section-bottom-desktop-2.svg");
$bg-footer-desktop: url("../../images/bg-footer-top-desktop.svg");
