*,
html,
body,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  font-size: 0.85rem;
  padding: 0.9em 2.55em;
  background-color: hsl(322deg, 100%, 66%);
  color: white;
  border: 0;
  border-radius: 25px;
  transition: all 0.05s;
  display: inline-flex;
}
.btn:hover, .btn:focus {
  background-color: hsl(321deg, 100%, 78%);
}

.outlined--btn {
  font-size: 0.8125rem;
  padding: 0.5em 3em;
  text-transform: capitalize;
  background-color: transparent;
  border: 2px solid hsl(322deg, 100%, 66%);
  border-radius: 25px;
  color: hsl(322deg, 100%, 66%);
  border-radius: 25px;
  box-shadow: -3px 12px 29px -4px rgba(158, 144, 144, 0.75);
  -webkit-box-shadow: -3px 12px 29px -4px rgba(158, 144, 144, 0.75);
  -moz-box-shadow: -3px 12px 29px -4px rgba(158, 144, 144, 0.75);
}
.outlined--btn:hover, .outlined--btn:focus {
  border-color: hsl(321deg, 100%, 78%);
  color: hsl(321deg, 100%, 78%);
}

.cta__button {
  padding: 1.125em 2.5em;
  border-radius: 5px;
  background-color: hsl(322deg, 100%, 66%);
  color: white;
  outline: none;
  border: none;
  transition: all 0.05s;
}
.cta__button:hover, .cta__button:focus {
  background-color: hsl(321deg, 100%, 78%);
}

.cta__input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
  background-color: white;
  width: 20.3125em 3.375em;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: "Poppins", "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: auto;
  padding: 1.5em;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 0.85rem;
}

img {
  width: 90%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 7.4875em;
  padding-bottom: 0;
}
header .logo {
  width: 100px;
  height: 20px;
}

main {
  background: no-repeat;
  background-position: bottom;
  background-size: contain;
  -o-object-fit: fill;
     object-fit: fill;
}

main .intro {
  text-align: center;
}
main .intro h1 {
  font-size: 1.5rem;
  margin-bottom: 1.855em;
}
main .intro p {
  margin-bottom: 4.5em;
}
main .intro .btn {
  margin-bottom: 7.4875em;
  text-decoration: none;
}
main .intro .intro__image {
  margin-bottom: 7.4875em;
}
main .intro .intro__stats {
  position: relative;
}
main .intro .intro__stats .intro__stats--communities {
  margin-bottom: 5.625rem;
}
main .intro .intro__stats .intro__stats--communities small {
  font-size: calc(1.25rem - 5px);
}
main .intro .intro__stats .intro__stats--message,
main .intro .intro__stats .intro__stats--communities {
  display: block;
  align-content: start;
}
main .intro .intro__stats img {
  display: inline-flex;
  width: 30px;
  position: relative;
  right: 55px;
}
main .intro .intro__stats span {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
}
main .intro .intro__stats .intro__stats--message span {
  font-size: calc(3.5rem - 10px);
}
main .intro .intro__stats .intro__stats--message small {
  display: inline-flex;
  font-size: 0.85rem;
  margin-bottom: calc(7.4875em + 50px);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article__one {
  background-color: hsl(207deg, 100%, 98%);
  padding-top: 4.6em;
}

.image {
  width: 85%;
  margin-bottom: calc(4.5em + 8px);
}

.content {
  text-align: center;
}
.content p {
  font-size: 0.8125rem;
}

.article__two {
  background: no-repeat;
  background-position: top;
  background-size: contain;
  -o-object-fit: fill;
     object-fit: fill;
}

aside {
  background-image: url("/images/bg-section-top-mobile-1.svg");
  width: 700px;
  height: 400px;
}/*# sourceMappingURL=index.css.map */