@mixin flex-layout($direction) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: $direction;
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}